@model ClientWCF.Models.Dipendente

@{
    ViewBag.Title = "EliminaUtente";
}

<h2>Elimina Utente</h2>

<h3>Sei sicuro di voler eliminare questo utente? Eliminerai anche tutte le sue operazioni!</h3>
<div>
    <h4>Dipendente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cognome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cognome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.amministratore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amministratore)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>
