@model ClientWCF.Models.Prodotto

@{
    ViewBag.Title = "EliminaProdotto";
}

<h2>Elimina Prodotto</h2>

<h3>Sei sicuro di voler eliminare questo prodotto? Eliminarai anche tutte le operazioni relative ad esso!</h3>
<div>
    <h4>Prodotto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.produttore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.produttore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prezzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prezzo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantità)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantità)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.posizione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.posizione)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>
